html {
    overflow-y: scroll;
}

html, body{
    height:100%;
    width:100%;
}
	
/*Override bootstrap background light*/	
.bg-light {	
    /*background-color: rgba(29,29,30,0.5) !important;*/	
    background-color: rgba(255,255,255,0.4) !important;	
}	
/*Override bootstrap nav link active*/	
.nav-link.active {	
    background-color: #18a2b8 !important;	
    border-color: transparent !important;	
}	
.nav-tabs {	
    border-bottom-color: transparent;	
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.weatherCard {
    background-repeat:no-repeat;
    background-size: cover;
}

.city{
    color: white;
    border-radius: 0.25rem;
    padding:0.5rem;
}

.weatherCardText {
    color: white;
    text-align: center;
}

@media (max-width: 767.98px) {
    .humidity, .wind {
        display: none
    }
    .city {
        font-size: 15px;
    }
    .temp {
        font-size: 20px;
    }
    .flex {
        font-size: 15px;
    }
    #firstName {
        font-size: 20px;
    }
    .weatherCardText{
        display:flex;
        align-items: center;
    }
}

.card-bg {	
    background: rgba(0,0,0,0.8);	
}

#date-element {
 background: rgba(0,0,0,0.5);
 color: white;
}

	
.accordion-header {	
    border-bottom-color: rgba(255,255,255,0.6);	
    border-top-color: rgba(255,255,255,0.6);	
}	
.accordion-text:hover {	
    color: #18a2b8 !important;	
}	
.firstTab {	
    border-top-left-radius: .25rem;	
}	
.lastTab {	
    border-top-right-radius: .25rem;	
}